.typographyText{
    margin: 3rem 8vh !important;
    text-align: center !important;
}
.typography{
    margin: 0 5rem;
    text-align: center;
}
.typographyTextTittle{
    margin: 3rem 8vh !important;
    text-align: center !important;
    color: red !important;
}