.dataTable{
    margin-left: 2rem;
    height: 700px;
    min-height: min-content;
}
.logo{
    width:1.5rem;
}
.container{

     width: 77%;
     margin: auto;
     padding-top: 10vh;
     background-color: #f0f1ff;
}